numpy==1.23.4
matplotlib
joblib
threadpoolctl
ModulationPy
cython
scikit-commpy==0.8.0 # if getting errors try changing versions.. original was 0.6.0 but also with older numpys
tqdm
jupyter
torch
torchviz
torchsummary
pyrallis
wandb
gpustat
pandas
tabulate